/* Estilos generales */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 0 15px; /* Añadir un padding general para los márgenes */
}

/* Perfil */
.profile {
  max-width: 600px;
}

/* Estilos para pantallas más pequeñas (móviles) */
@media only screen and (max-width: 600px) {
  main {
    margin-top: 20px;
  }

  .profile {
    max-width: 100%; /* Asegura que la imagen de perfil ocupe todo el ancho disponible */
  }
}

/* Estilos para pantallas de tamaño medio (tabletas) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  main {
    padding: 20px;
  }

  .profile {
    max-width: 90%;
  }
}

/* Estilos para pantallas grandes (computadoras de escritorio) */
@media only screen and (min-width: 900px) {
  main {
    padding: 40px;
  }

  .profile {
    max-width: 80%; /* Reduce un poco el ancho máximo para pantallas grandes */
  }
}
